# Node dependencies
node_modules
**/node_modules

# Build outputs
build
dist

# Logs
npm-debug.log
*.log

# Docker & Compose files
Dockerfile
Dockerfile*
docker-compose*.yml

# Git files
.git
.gitignore
.github

# System and editor files
.DS_Store
.vscode/

# MongoDB local data
app-mongo-data/

# Docs and meta files
README.md
.dockerignore
