apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: yolo-project
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: h1baq/yolo-backend:v1.0.3
          command: ["npm", "start"]
          ports:
            - containerPort: 5000
          env:
          - name: MONGO_URL
          value: "mongodb://mongo:27017/yolo"
