apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: yolo-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: h1baq/yolo-client:v1.0.1
          ports:
            - containerPort: 80  

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: yolo-project
spec:
  selector:
    app: frontend
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30001
