apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: yolo-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: h1baq/yolo-client:v1.0.2
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_API_URL
              value: "http://backend-service:5000/api"
